
@{
    ViewBag.Title = "ThongTin";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<div class="content">
    <h2>Những Câu Hỏi Thường Gặp</h2>
    <div class="questions">
        <h4>1.Mua sản phẩm HVH Shop được bảo hành như thế nào?</h4>
        <p>Để đảm bảo quyền lợi của quý khách hàng khi mua sản phẩm tại các cửa hàng thuộc hệ thống cửa hàng HVH Shop. Chúng tôi cam kết tất cả các sản phẩm được tuân theo các điều khoản bảo hành của sản phẩm tại thời điểm xuất hóa đơn cho quý khách hàng. Các sản phẩm điện thoại sẽ có chính sách bảo hành khác nhau tùy thuộc vào hãng sản xuất. Khách hàng có thể bảo hành máy tại các cửa hàng HVH Shop trên toàn quốc cũng như các trung tâm bảo hành chính hãng sản phẩm.</p>
    </div>
    <div class="questions">
        <h4>2.Mua sản phẩm tại HVH Shop có được đổi trả không? Nếu được thì phí đổi trả sẽ được tính như thế nào?</h4>
        <p>Đối với tất cả các sản phẩm  (Áp dụng bao gồm các sản phẩm Apple), sản phẩm cùng model, cùng màu, cùng dung lượng. Trong tình huống sản phẩm đổi hết hàng, khách hàng có thể đổi sang một sản phẩm khác tương đương hoặc cao hơn về giá trị so với sản phẩm lỗi. Trường hợp khách hàng muốn trả sản phẩm: HVHShop sẽ kiểm tra tình trạng máy và thông báo đến Khách hàng về giá trị thu lại sản phẩm ngay tại cửa hàng.</p>
    </div>
    <div class="questions">
        <h4>3.HVH Shop có chính sách giao hàng tận nhà không? Nếu giao hàng tại nhà mà không ưng sản phẩm có được trả lại không?</h4>
        <p>HVH Shop cam kết giao hàng toàn bộ 63 tỉnh thành, HVH Shop nhận giao đơn hàng có thời gian hẹn giao tại nhà trước 20h00. Miễn phí giao hàng với các đơn hàng trong bán kính 20km có đặt shop (Với đơn hàng có giá trị nhỏ hơn 100.000đ sẽ thu phí 10.000đ) nhân viên HVH Shop sẽ tư vấn chi tiết về cách thức giao nhận thuận tiện nhất.</p>
        <p>Lưu ý: </p>
        <p>Đối với các sản phẩm còn nguyên seal, khách hàng muốn bóc seal sẽ phải thanh toán 100% giá trị sản phẩm. Nếu không ưng, HVH Shop sẽ hỗ trợ đổi sản phẩm cho khách hàng theo chính sách đổi trả.</p>

           <p> Đối với các sản phẩm không seal, quý khách hàng có thể kiểm tra máy mà không phải chịu bất cứ chi phí nào nếu không mua.
        </p>
    </div>

</div>