
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Sản phẩm nổi bật</h3>
        </div>

        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview-3.html"><img src="~/Content/images/laptop_lenovo.jpg" alt="" /></a>
            <h2>Laptop Gaming Lenovo IdeaPad 5 14ALC05 82LM004FVN </h2>
            <p>( 14" Full HD/AMD Ryzen 5 5500U/8GB/512GB SSD/Windows 10 Home 64-bit/1.4kg)</p>
            <p>@*<span class="strike">$528.22</span>*@<span class="price">15.690.000đ</span></p>
            <div class="button"><span> <img src="~/Content/images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Thêm vào giỏ hàng </a></span> </div>
            <div class="button"><span><a href="preview-3.html" class="details">Chi Tiết</a></span></div>
        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview-2.html"> <img src="~/Content/images/laptop_asusx415ea.jpg" alt="" /></a>
            <h2>Laptop ASUS X415EA-EK047T 90NB0TT1-M00470 </h2>
            <p>( 14" Full HD/Intel Core i3-1115G4/4GB/256GB SSD/Windows 10 Home 64-bit/1.5kg)</p>
            <p>@*<span class="strike">$640.89</span>*@<span class="price">12.490.000đ</span></p>
            <div class="button"><span> <img src="~/Content/images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Thêm vào giỏ hàng</a></span> </div>
            <div class="button"><span><a href="#" class="details">Chi Tiết</a></span></div>
        </div>
      
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview-4.html"> <img src="~/Content/images/laptop_hp15s.jpg" alt="" /></a>
            <h2>Laptop HP 15s-fq2558TU 46M26PA</h2>
            <p>( 15.6" HD/Intel Core i7-1165G7/8GB/512GB SSD/Windows 10 Home SL 64-bit/1.7kg)</p>
            <p>@*<span class="strike">$240.66</span>*@<span class="price">18.990.000đ</span></p>
            <div class="button"><span> <img src="~/Content/images/cart.jpg" alt="" /><a href="preview-6.html" class="cart-button">Thêm vào giỏ hàng</a></span> </div>
            <div class="button"><span><a href="#" class="details">Chi Tiết</a></span></div>
        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview-2.html"><img src="~/Content/images/laptop_asustuffx506.jpg" alt="" /></a>
            <h2>Laptop Asus TUF Gaming FX506LH-HN002T </h2>
            <p> ( 15.6" Full HD/Intel Core i5-10300H/8GB/512GB SSD/GTX 1650/Windows 10 Home 64-bit/2.3kg)</p>
            <p>@*<span class="strike">$436.22</span>*@<span class="price">21.990.000đ</span></p>
            <div class="button"><span><img src="~/Content/images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Thêm vào giỏ hàng</a></span> </div>
            <div class="button"><span><a href="#" class="details">Chi Tiết</a></span></div>
        </div>
    </div>
    <div class="content_bottom">
        <div class="heading">
            <h3>Sản Phẩm Đang Giảm Giá</h3>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-3.html"><img src="~/Content/images/laptop_acernitro5.jpg" alt="" /></a>
                <div class="discount">
                    <span class="percentage">32%</span>
                </div>
                <h2>Laptop Acer Nitro 5 AN515-54-52EZ (NH.Q59SV.019)</h2>
                <p>(15" FHD/i5-9300H/8GB/256GB SSD/GeForce GTX 1650/Win10/2.3 kg)</p>
                <p><span class="strike">24.990.000đ</span><span class="price">16.990.000đ</span></p>
                <div class="button"><span><img src="~/Content/images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Thêm vào giỏ hàng</a></span> </div>
                <div class="button"><span><a href="preview-3.html" class="details">Chi Tiết</a></span></div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-4.html"><img src="~/Content/images/laptop_hpzbookfury.jpg" alt="" /></a>
                <div class="discount">
                    <span class="percentage">11%</span>
                </div>
                <h2>Laptop HP ZBook Fury 17 G7 26F43AV</h2>
                <p>
                    ( 17.3" Full HD/Intel Core i7-10750H/32GB/512GB SSD/NVIDIA Quadro T2000/Windows 10 Pro/2.7kg)
                </p>
                <p><span class="strike">69.700.000đ</span><span class="price">62.490.000đ</span></p>
                <div class="button"><span><img src="~/Content/images/cart.jpg" alt="" /><a href="preview-4.html" class="cart-button">Thêm vào giỏ hàng</a></span></div>
                <div class="button"><span><a href="preview-4.html" class="details">Chi Tiết</a></span></div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-2.html"><img src="~/Content/images/laptop_macbookpro1619.jpg" alt="" /></a>
                <div class="discount">
                    <span class="percentage">3.3%</span>
                </div>
                <h2>Laptop Apple MacBook Pro 16" 2019 (MVVL2SA/A)</h2>
                <p>(Core i7/16GB/512GB SSD/Radeon Pro 5300M/macOS/2kg)</p>
                <p><span class="strike">59.990.000đ</span><span class="price">57.990.000đ</span></p>
                <div class="button"><span><img src="~/Content/images/cart.jpg" alt="" /><a href="preview-2.html" class="cart-button">Thêm vào giỏ hàng</a></span> </div>
                <div class="button"><span><a href="preview-2.html" class="details">Chi Tiết</a></span></div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-2.html"><img src="~/Content/images/laptop_asusrogg14.jpg" alt="" /></a>
                <div class="discount">
                    <span class="percentage">0.6%</span>
                </div>
                <h2>Laptop ASUS ROG Zephyrus G14 GA401QC-HZ032T 90NR05T3-M00520</h2>
                <p>( 14" Full HD/ 144Hz/AMD Ryzen 7 5800HS/16GB/512GB SSD/NVIDIA GeForce RTX 3050/1.6kg)</p>
                <p><span class="strike">32.990.000đ</span><span class="price">32.790.000đ</span></p>
                <div class="button"><span><img src="~/Content/images/cart.jpg" alt="" /><a href="preview-2.html" class="cart-button">Thêm vào giỏ hàng</a></span> </div>
                <div class="button"><span><a href="#" class="details">Chi Tiết</a></span></div>
            </div>
        </div>
    </div>
</div>